$em: 16px;

@import "colors";
@import "general";


html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: $em;
	font-family: sans-serif;
	line-height: 1.5*$em;
    color: $black;
    background-color: $dust5;
} 

nav {
	display: none;
}

header {
    width: 100%;
    font-size: $em;
    height: 30em;
    overflow-y: hidden;
    position: relative;
    top: 0;
    #hero picture {
        position: absolute;
        top: 0;
        img {
            margin: 0 auto;
            max-width: 2000px;
            display: block;
            margin-top: -12%;
        }
    }
    .heading {
        position: relative;
        font-size: $em;
        width: 100%;
        max-width: 62em;
        margin: 0 auto;
        margin-top: 20em;
        padding: 0 1em;
        box-sizing: border-box;
        z-index: 1;
        h1 {
            color: $white;
            font-family: "Bree";
            font-size: 5*$em;
            font-weight: 600;
            letter-spacing: -0.01em;
            line-height: 1;
        }
    }
}

main {
    margin: 0 auto;
    width: 100%;
    max-width: 67em;
}

article {
	width: 100%;
    font-size: $em;
	max-width: 40em;
    float: left;
    background-color: $white;
    padding: 1*$em 3*$em 3*$em 3*$em;
    box-sizing: border-box;
	h1 {
        margin-bottom: 1.5*$em;
        font-family: "Bree";
		font-size: 3*$em;
		line-height: 2$em;
        letter-spacing: -0.02em;
        display: none;
	}
	p {
        font-family: "Georgia";
		font-family: "Nimrod MT Std";
        font-weight: 400;
		text-align: justify;
        margin-bottom: 1.5*$em;
		a {
			color: $green;
			cursor: alias;
            text-decoration: none;
		}
		&:first-child:first-letter { 
			float: left; 
			color: $green; 
			font-family: Yummo; 
			font-weight: 500;
			text-transform: capitalize;
			font-size: 5.5*$em; 
			line-height: 3*$em; 
			padding: 0.5*$em 0.3*$em 0 0; 
		}
    }
    h2 {
        font-family: "Bree";
        font-size: 1.5*$em;
        font-weight: 600;
        line-height: 1.5*$em;
        margin: 0;
	}
	figure {
        img {
		    width: 100%;
        }
        figcaption {
            font-family: "Bree";
            font-weight: 300;
            font-size: 0.8*$em;
            line-height: 1*$em;
            padding: 0.5em 1em;
            background-color: rgba($black,0.7);
            color: $white;
            margin-top: -0.6em;
            display: none;
        }
	}
}

aside {
    font-size: $em;
    width: 100%;
    max-width: 23em;
    float: right;
    background-color: $white;
    box-sizing: border-box;
    h3 {
        font-family: "Bree";
        font-weight: 600;
        font-size: 1.2*$em;
        line-height: 1*$em;
        margin: 1.5*$em 0 -0.3*$em 0;
    }
    p {
        font-family: "Bree"; 
        font-weight: 300;
        font-size: 0.85*$em;
        line-height: 1*$em;
        margin-bottom: 1*$em;
        text-align: left;
    }
    section {
        padding: 0 2*$em;
        padding-bottom: 1.5*$em;
        margin-bottom: 1.5*$em;
        border-bottom: 0.2*$em solid $green;
    }
    .author {
        figure {
            width: 6em;
            height: 9em;
            float: left;
            overflow: hidden;
            margin: 1*$em 1em 0 0;
            img {
                width: 150%;
                margin-left: -30%;
            }
        }
    }
    .share, .subscribe {
        display: none;
    }
    .articles {
        .title {
//            text-align: right;
        }
        div {
            height: 11em;
            overflow: hidden;
            margin: 1*$em 0;
            position: relative;
            h3 {
                display: inline-block;
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                box-sizing: border-box;
                margin: 0;
                padding: 1*$em;
                z-index: 1;
                color: $white;
                font-size: 2.2*$em;
                line-height: 1.2;
                text-align: right;
            }
        }
    }
}
