/* line 1, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/general */
.center {
  margin: 0 auto; }

/* line 5, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/general */
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.25s; }
  /* line 9, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/general */
  a:hover, a:focus {
    text-decoration: underline; }

/* line 14, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/general */
picture, figure {
  position: relative;
  width: 100%;
  margin: 0; }
  /* line 18, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/general */
  picture img, figure img {
    width: 100%;
    transition: all 1s; }
  /* line 22, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/general */
  picture.green-overlay:after, figure.green-overlay:after {
    content: "";
    background: #499948;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.5s; }

/* line 34, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/general */
.grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1); }

/* line 39, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/general */
.title {
  color: #499948;
  font-family: "Blanch";
  font-weight: 700;
  font-size: 48px;
  line-height: 32px;
  margin: 11.2px 0 -3.2px 0; }

/* line 49, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/general */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
/* line 53, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/general */
.clearfix:after {
  clear: both; }

/* line 58, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/general */
.light-shadow {
  box-shadow: 0 0 1px rgba(147, 130, 125, 0.1); }

/* line 7, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 24px;
  color: #191817;
  background: #ece7e3;
  position: relative;
  z-index: -10; }

/* line 20, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
nav {
  display: none; }

/* line 24, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
header {
  width: 100%;
  font-size: 16px;
  top: 0; }
  /* line 28, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
  header .top {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 16px;
    text-shadow: 1px 1px 1px rgba(147, 130, 125, 0.1); }
    /* line 36, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
    header .top svg {
      position: absolute;
      z-index: 10;
      left: 16px;
      top: 16px;
      height: 80px;
      -webkit-filter: drop-shadow(0 0 1px rgba(147, 130, 125, 0.1));
      -webkit-transform: translateZ(0); }
      /* line 45, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
      header .top svg .logo {
        fill: #f8f9f7; }
        /* line 47, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
        header .top svg .logo:hover, header .top svg .logo:focus {
          fill: #499948; }
    /* line 52, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
    header .top .nav-button {
      float: right;
      font-family: "Blanch";
      font-size: 64px;
      font-weight: 500;
      color: #f8f9f7;
      margin-right: 80px; }
      /* line 59, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
      header .top .nav-button:hover, header .top .nav-button:focus {
        text-decoration: none;
        color: #499948; }
  /* line 65, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
  header .hero {
    text-align: center;
    width: 100%;
    max-width: 2000px;
    position: fixed;
    top: 0; }
    /* line 71, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
    header .hero picture {
      height: 480px;
      overflow-y: hidden;
      display: inline-block;
      z-index: -2; }
      /* line 76, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
      header .hero picture img {
        margin: 0 auto;
        display: block;
        margin-top: -15%; }

/* line 85, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
main {
  margin-top: 480px;
  width: 100%;
  box-shadow: 0 -2px 2px rgba(113, 109, 105, 0.5);
  position: relative;
  background: #ece7e3;
  z-index: 1; }
  /* line 92, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
  main .container {
    max-width: 1072px;
    margin: 0 auto; }

/* line 99, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
article {
  width: 100%;
  font-size: 16px;
  max-width: 704px;
  float: left;
  background-color: #f8f9f7;
  padding: 16px 80px 56px 80px;
  box-sizing: border-box;
  margin: 0;
  box-shadow: 0 0 0.1px rgba(147, 130, 125, 0.1); }
  /* line 109, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
  article h1 {
    width: 1072px;
    height: 160px;
    margin: -192px 0 48px -80px;
    padding: 0 32px;
    box-sizing: border-box;
    font-family: "Bree";
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 80px;
    color: #f8f9f7;
    text-shadow: 2px 2px 2px rgba(113, 109, 105, 0.5); }
  /* line 123, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
  article p {
    font-family: "Volkorn";
    font-size: 19.2px;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 24px; }
    /* line 130, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
    article p a {
      color: #499948;
      cursor: alias;
      text-decoration: none; }
    /* line 135, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
    article p:first-child:first-letter {
      float: left;
      color: #499948;
      font-family: "Blanch";
      font-weight: 500;
      text-transform: capitalize;
      font-size: 176px;
      line-height: 48px;
      padding: 8.8px 0.8px 24px 0; }
  /* line 146, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
  article h2 {
    font-family: "Bree";
    letter-spacing: -0.02em;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin: 0; }
  /* line 155, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
  article figure {
    position: relative;
    margin: 0;
    overflow: hidden; }
    /* line 159, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
    article figure img {
      width: 100%;
      display: block;
      position: relative; }
    /* line 164, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
    article figure figcaption {
      position: absolute;
      bottom: 0;
      box-sizing: border-box;
      width: 100%;
      height: 52.8px;
      padding: 0.5em 1em;
      font-family: "Bree";
      font-weight: 100;
      font-size: 14.4px;
      line-height: 20.8px;
      color: #f8f9f7;
      background-color: rgba(25, 24, 23, 0.6);
      opacity: 0;
      transform: translateY(100%);
      transition: transform 0.4s, opacity 0.1s 0.3s; }
    /* line 182, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
    article figure:hover figcaption, article figure:focus figcaption {
      opacity: 1;
      transform: translateY(0);
      transition: transform 0.4s, opacity 0.1s; }

/* line 191, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
aside {
  font-size: 16px;
  width: 100%;
  max-width: 320px;
  float: right;
  box-sizing: border-box; }
  /* line 197, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
  aside h3 {
    font-family: "Bree";
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    margin: 19.2px 0 -4.8px 0; }
  /* line 204, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
  aside p {
    font-family: "Bree";
    font-weight: 300;
    font-size: 12.8px;
    line-height: 16px;
    margin-bottom: 16px;
    text-align: left; }
  /* line 212, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
  aside h3.link {
    text-align: right;
    margin: -3.2px 4.8px 16px 0; }
    /* line 215, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
    aside h3.link a:hover {
      color: #499948;
      text-decoration: none; }
  /* line 220, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
  aside section {
    padding: 3.2px 16px 3.2px 16px;
    margin: 48px 0;
    background-color: #f8f9f7;
    box-shadow: 0 0 1px rgba(147, 130, 125, 0.1); }
  /* line 226, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
  aside .subscribe {
    background: none;
    box-shadow: none;
    margin: 32px 0 -16px 0;
    padding: 0;
    font-family: "Bree";
    font-weight: 600;
    text-align: center;
    color: #f8f9f7;
    text-shadow: 1px 1px 1px rgba(147, 130, 125, 0.1); }
    /* line 236, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
    aside .subscribe a {
      position: relative;
      display: block;
      float: left;
      box-sizing: border-box;
      width: 80px;
      margin: 0; }
      /* line 243, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
      aside .subscribe a svg, aside .subscribe a .icon {
        fill: #f8f9f7;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: 48px;
        transition: all 0.5s;
        -webkit-filter: drop-shadow(0 0 1px rgba(147, 130, 125, 0.1));
        -webkit-transform: translateZ(0); }
      /* line 253, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
      aside .subscribe a:hover, aside .subscribe a:focus {
        text-decoration: none; }
        /* line 255, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
        aside .subscribe a:hover h4, aside .subscribe a:hover .icon, aside .subscribe a:focus h4, aside .subscribe a:focus .icon {
          fill: #6dac6e;
          color: #6dac6e; }
      /* line 260, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
      aside .subscribe a h4 {
        margin-top: 59.2px;
        font-size: 16px;
        line-height: 17.6px;
        text-transform: uppercase;
        transition: all 0.5s; }
  /* line 270, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
  aside .author figure {
    width: 5.2em;
    height: 7.8em;
    float: left;
    overflow: hidden;
    margin: 16px 8px 0 0; }
    /* line 276, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
    aside .author figure img {
      width: 150%;
      margin-left: -30%; }
  /* line 286, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
  aside .articles > a {
    display: block;
    height: 10em;
    overflow: hidden;
    margin: 16px 0;
    position: relative; }
    /* line 293, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
    aside .articles > a:hover .green-overlay:after {
      opacity: 0.8;
      background: #6dac6e;
      -webkit-transform: translateZ(0); }
    /* line 299, /Users/tolo/Dropbox/Data/kijani/Design/Blog/BlogTemplate v1.2/css/styles.scss */
    aside .articles > a h3 {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      margin: 0;
      padding: 16px;
      z-index: 1;
      color: #f8f9f7;
      font-size: 28.8px;
      font-weight: 500;
      line-height: 1.2;
      text-align: right; }

/*# sourceMappingURL=styles.css.map */