@font-face {
	font-family: 'Blanch';
	src: url('fonts/blanch.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Blanch';
	src: url('fonts/blanch-inline.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}