@font-face {
	font-family: 'Bree';
	src: url('fonts/bree-300.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bree';
	src: url('fonts/bree-500.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Bree';
	src: url('fonts/bree-700.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}